<html ng-app="ClinvarConnector">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clinvar Connector</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="/static/variants.js"></script>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body ng-controller="SearchController" ng-init='{{searchCmd|safe}}'>
{% raw %}
	<style>
		body {
			font-family: "Trebuchet MS", Helvetica, sans-serif;
		}
		.table-hover {
			cursor: pointer;
		}
		.attribuTe {
			font-weight: bold;
		}
	</style>
	<div id="nav-bar">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand">Clinvar Connector</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/download" target="_blank">Download</a></li>
					</ul>
					<form class="navbar-form navbar-left" role="search" method="get" action="/">
						<div class="form-group">
							<input type="text" class="form-control" name="term" placeholder="Search term here" value="{{term}}">
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form>
					<ul class="nav navbar-nav">
						<li class="dropdown" ng-show="reports.length > 0">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Review status: {{ showSigFilter() }}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter(undefined)">All</a></li>
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter('Pathogenic')">Pathogenic</a></li>
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter('Likely pathogenic')">Likely pathogenic</a></li>
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter('Drug response')">Drug response</a></li>
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter('Confers sensitivity')">Confers sensitivity</a></li>
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter('Risk factor')">Risk factor</a></li>
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter('Association')">Association</a></li>
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter('Likely benign')">Likely benign</a></li>
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter('Benign')">Benign</a></li>
								<li class="significance-filter-option"><a href="#" ng-click="setSigFilter('Protective')">Protective</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container" id="main">
		<table class="table table-condensed table-hover" ng-show="reports.length > 0">
			<thead>
				<tr>
					<th>Title</th>
					<th>Significance</th>
					<th>Review Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="report in reports"
					data-toggle="modal"
					data-target='#detail-{{report.reportId}}'
					ng-show="canShow(report)">
					<td>{{ report.title }}</td>
					<td>{{ report.clinicalSignificance }}</td>
					<td>{{ report.reviewStatus }}</td>
				</tr>
			</tbody>
		</table>
		<h3 ng-show="noReportFound">No reports found.</h3>
	</div>
	<div ng-repeat="report in reports">
		<div class="modal fade" id="detail-{{report.reportId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<h3>{{report.title}}</h3>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-xs-5 attribute">Evaluated:</div>
									<div class="col-xs-7 value">{{report.evaluated}}</div>
									<hr></hr>
								</div>
								<div class="row">
									<div class="col-xs-5 attribute">Review status:</div>
									<div class="col-xs-7 value">{{report.reviewStatus}}</div>
									<hr></hr>
								</div>
								<div class="row">
									<div class="col-xs-5 attribute">Clinical significance:</div>
									<div class="col-xs-7 value">{{report.clinicalSignificance}}</div>
									<hr></hr>
								</div>
								<div class="row">
									<div class="col-xs-5 attribute">Gene:</div>
									<div class="col-xs-7 value">{{report.gene}}</div>
									<hr></hr>
								</div>
								<div class="row">
									<div class="col-xs-5 attribute">Variation:</div>
									<div class="col-xs-7 value">{{report.variation}}</div>
									<hr></hr>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
{% endraw %}